<% 
def cost_calculator
  recipient_count = @campaign.recipient_count.to_f
  paper_format_cost = 0
  postage_type_cost = 0

  if @campaign.paper_format == '4x6"'
    paper_format_cost = 1.00
  elsif @campaign.paper_format == '6x9"'
    paper_format_cost = 1.50
  elsif @campaign.paper_format == '6x11"'
    paper_format_cost = 2.00
  end

  if @campaign.postage_type == 'Standard Mail'
    postage_type_cost = 1.00
  elsif @campaign.postage_type == 'First Class'
    postage_type_cost = 2.00
  end

   paper_format_cost * postage_type_cost * recipient_count
end
%>

<h2><%= @campaign.name %></h2>

<div><strong>Recipient Count:</strong> <%= @campaign.recipient_count.to_i %> Recipients</div><br>

<div><strong>Mailing Date:</strong> <%= @campaign.mailing_date %></div><br>

<div><strong>Estimate In-Home Date:</strong>
  <% if @campaign.postage_type == 'First Class' %>
    <%= p @campaign.mailing_date += 1 %>
  <% elsif @campaign.postage_type == 'Standard Mail' %>
    <%= p @campaign.mailing_date += 3 %>
  <% end %>
to
  <% if @campaign.postage_type == 'First Class' %>
    <%= p @campaign.mailing_date += 3 %>
    <% elsif @campaign.postage_type == 'Standard Mail' %>
    <%= p @campaign.mailing_date += 5 %>
  <% end %>
</div><br>

<div><strong>Paper Format: </strong><%= @campaign.paper_format %></div><br>

<div><strong>Postage Type:</strong> <%= @campaign.postage_type %></div><br>

<div><strong>Cost:</strong> $<%= cost_calculator %> </div><br>

<%= link_to 'Return to Campaigns', client_path(@campaign.client.id) %>